@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@700&display=swap");
html,
body {
  box-sizing: border-box;
  height: 100%;
}
*::before *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.box {
  max-width: 1440px;
  width: 1440px;
  height: 100%;
  background: #d5e1ef;
  margin: 0 auto;
  // padding: 50px;
  font-family: Outfit, sans-serif;
  // font-size: 15px;
  // font-weight: 400;

  .card {
    // width: 320px;
    // height: 497px;
    // left: 560px;
    // padding: 16px 16px 40px;
    // top: 152px;
    // background: #ffffff;
    // box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
    // border-radius: 20px;
    &__picture {
      // width: 288px;
      // height: 288px;
      // margin-bottom: 24px;
      // background-size: 288px;
      // .qr-img {
      //   width: 288px;
      //   border-radius: 10px;
      //   height: 288px;
      //   padding: 14px;
      }
    }
    .card__content {
    
      h1 {
        // font-size: 22px;
        // line-height: 28px;
        // color: #1f314f;
        // margin-bottom: 16px;
      }
      p {
        // line-height: 19px;
        // letter-spacing: 0.1875px;
        // color: #7d889e;
        // width: 256px;
        // margin: 0 auto;
      }
    }
  }
}
